.book_now {
    @include position(absolute, 120px, 0, top, right);
    overflow: hidden;
    z-index: 10;

    &.close {
        .content { left: 320px; }
        .cover {
            @include opacity(0);
            display: none;
        }
    }

    &.open {
        .button_book_now {
            @include brp($brp5) {
                display: none;
            }
        }
    }

    .cover {
        @include position(fixed);
        @include aae(100%);
        @include background-opacity($c2);
        @include transition(all 500ms ease);
        @include opacity(1);
        z-index: 1;
    }

    .content {
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include transition(left 500ms ease);
        @include position;
        display: flex;
        z-index: 2;

        .button_book_now {
            @include position(absolute, 0, -69px);
            @include transform(rotate(-90deg));
            background-color: $c2;
            padding: 10px 15px;
            color: $c1;
            cursor: pointer;
            margin: {
                right: -33px;
                top: 120px;
            };
            z-index: 2;

            &:hover { background-color: $c8; }
        }

        .container_2 {
            @include position;
            @include aa(240px);
            padding: 25px 40px;
            background-color: $c9;
            color: $c1;
            z-index: 1;

            @include brp($brp6) {
                @include aa(240px);
            }

            .close {
                @include position(absolute, 0, 25px);
                cursor: pointer;

                &:before {
                    @include position(absolute, 25px, 15px);
                    @include icon-svg(
                        close,
                        $c1,
                        20px, 20px
                    );
                    content: "";
                }

                &:hover {
                    &:before {
                        @include icon-svg(
                            close,
                            $c8,
                            20px, 20px
                        );
                    }
                }
            }

            h1 {
                @include font(szrem(46), $f1, bold);
                @include text(center, uppercase);
                color: inherit;
                margin: {
                    top: 40px;
                    bottom: 60px;
                };
            }

            .button_form {

                @include button_1($c9, $c1);
            }

            form {
                .row {
                    margin-bottom: 30px;

                    &.row_3 {
                        @include flex-wrap(wrap);
                        display: flex;

                        .col_1 {
                            @include flex-grow(2);
                            margin-right: 35px;
                            order: 1
                        }

                        .col_2 {
                            @include flex-grow(1);
                            order: 2
                        }
                    }

                    &.row_5 {
                        text-align: center;
                    }

                    label {
                        @include text(left, uppercase);
                        @include font(szrem(14), $f1, 300);
                        @include aa(100%);
                        margin-bottom: 7px;
                        letter-spacing: 0.1em;
                        display: block;
                    }

                    input[Type=text] {
                        @include font(szrem(14));
                        @include box-sizing(border-box);
                        @include aa(100%, 30px);
                        padding: 15px 10px;
                    }

                    input[type=submit] {
                        @include text(center, uppercase);
                        @include font(szrem(16), $f1, bold);
                        @include no-border;
                        @include transition(all 250ms ease);
                        cursor: pointer;
                        margin: 0 auto;
                        padding: 10px 30px;
                        background-color: $c8;
                        color: $c1;

                        &:hover {
                            background-color: $c1;
                            color: $c8;
                        }
                    }

                    .description {
                        @include text(center);
                        @include font(szrem(14), $f1, 300, normal, 1.5em);
                    }

                    .col {
                        display: flex;
                    }
                }
            }
        }
    }
}
