.clients {
    @extend %region_1;

    .container_1 {
        @include brp($brp3) {
            @include flex-wrap(wrap);
            @include flex-direction(row);
            @include justify-content(space-around);
        }

        @include brp(580) {
            width: 80%;
        }
    }

    .card {
        border: 5px solid darken($c5, 10%);
        padding: 20px 4%;
        color: darken($c5, 10%);
        margin-right: 2px;

        @include brp(580) {
            margin-bottom: 30px;
        }

        &:last-child {
            margin-right: 0;
        }

        h2 {
            @include font(szrem(20), $f1, bold, italic);
            @include text(center, uppercase);
            color: inherit;
        }

        p {
            @include font(szrem(12));
            @include text(center);
            color: inherit;
        }
    }
}
