body {
    @include font(100%);
    background-color: $c1;
    color: $c2;
}

.main_container {
    @include position;
    @include aa(100%);
    max-width: 1920px;
    margin: 0 auto;
}

.container_1 {
    @include aa(($brp2 - 50) + px);
    @include justify-content(space-around);
    margin: 0 auto;
    display: flex;

    @include brp($brp2) {
        @include aa(96%);
    }

    @include brp($brp3) {
        @include center-flex;
    }
}
