.group_custom_select,
.group_custom_select_2
{
    @include position;
    @include aa(100px, 33px);
    @include user-select(none);
    z-index: 3;

    &.active {
        .group_input_custom_select {
            &:after {
                @include transition(all 250ms ease);
                @include transform(
                    translate(0, -50%)
                    rotate(180deg)
                );
            }
        }

        .custom_select {
            @include transition(all 250ms ease);
            @include opacity(1);
            visibility: visible;
            color: $c3;
        }
    }

    .group_input_custom_select {
        @include position;
        @include aae(inherit);
        background-color: $c1;
        color: $c3;
        display: inline-block;

        &:after {
            @include position(absolute, 50%, 10px, top, right);
            @include transition(all 250ms ease);
            @include transform(translate(0, -50%));
            content: "\25bc";
            cursor: pointer;
            z-index: 1;
        }

        .input_custom_select {
            @include position;
            @include no-border;
            @include font(szrem(14));
            @include box-shadow(none);
            @include aae(inherit);
            @include box-sizing(border-box);
            background-color: transparent;
            cursor: pointer;
            outline: none;
            padding: 10px 15px;
            z-index: 2;

            &:disabled { background-color: $c1; }
        }
    }

    ul {
        &.custom_select {
            @include box-shadow(0 2px 5px 0 $c5);
            @include box-sizing(border-box);
            @include position(absolute, auto, auto);
            @include aa(inherit !important, 82px);
            @include transition(all 250ms ease);
            @include opacity(0);
            visibility: hidden;
            background-color: $c1;
            margin: 0 !important;
            overflow: auto;

            li {
                @include box-sizing(border-box);
                @include user-select(none);
                background-color: $c1 !important;
                cursor: pointer;
                padding: 10px !important;
                margin: 0 !important;

                &.active {
                    background-color: $c5 !important;
                }

                &:hover {
                    background-color: $c3 !important;
                    color: $c1 !important;
                }
            }
        }
    }

    select { display: none; }
}
