.main_footer {
    @include center-flex;
    background-color: $c7;
    color: $c1;
    padding: 80px 0;

    @include brp($brp4) {
        padding: 40px 0;
    }

    .logo_footer {
        @include logo;
        margin-bottom: 72px;
        color: inherit;

        @include brp($brp4) {
            margin-bottom: 36px;
        }
    }

    .footer_menu {
        margin-bottom: 50px;

        @include brp($brp4) {
            margin-bottom: 25px;
        }

        a {
            @include font(szrem(16), $f1, 300);
            @include text(center);
            color: inherit;
            margin-right: 40px;

            @include brp($brp4) {
                font-size: szrem(14);
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .copyright {
        @include font(szrem(16), $f1, 300);
        @include text(center);
        color: inherit;

        @include brp($brp4) {
            font-size: szrem(12);
        }
    }
}
