.main_header {
    @include justify-content(space-between);
    @include align-items(center);
    background-color: $c1;
    padding: 40px 130px;
    display: flex;

    @include brp($brp3) {
        padding: 20px 75px;
    }

    @include brp($brp4) {
        @include justify-content(center);
        @include flex-direction(column);
        padding: 20px 2%;
    }

    .logo {
        @include logo;

        @include brp($brp3) {
            margin-bottom: 10px;
        }
    }

    .main_menu {
        a {
            @include font(szrem(16), $f1, 400);
            @include text(center);
            @include transition(all 250ms ease);
            display: inline-block;
            margin-right: 45px;
            color: $c3;

            @include brp($brp3) {
                margin-right: 15px;
            }

            &:last-child { margin-right: 0; }

            &:hover {
                @include transform(rotate(-15deg));
                color: darken($c3, 20%);
            }
        }
    }
}
