.services {
    @extend %region_1;

    .card {
        @include center-flex;
        @include aa(30%);

        @include brp($brp3) {
            @include aa(75%);
            margin-bottom: 50px;

            &:last-child { margin-bottom: 0; }
        }

        @for $i from 1 through length($icon1) {
            .logo_service_#{$i} {
                @include logo_service(nth($icon1, $i));
            }
        }

        .description {
            @extend %description_1;
            margin-bottom: 50px;

            @include brp($brp3) {
                margin-bottom: 25px;
            }
        }

        .read_more {
            @include button_1($c1, $c3);

            @include brp(950) {
                width: 90%;
            }
        }
    }
}
