.container_slider {
    @include position;

    #slider {
        @include position;
        @include transition(all 350ms ease-in-out);
        overflow: hidden;
        height: $sh1 + px;

        @each $brp in $dimg {
            @include brp($brp) {
                height: himg($brp) + px;
            }
        }


       .slider_item {
            @include position(absolute);
            @include aae(100%);
            z-index: 1;

            &.active {
                z-index: 2;

                .headers { z-index: 2; }

                img {
                    @include transform(scale(1));
                    @include opacity(1);
                }
            }

            .headers {
                @include position(absolute);
                @include aa(100%, $sh1 + px);
                @include center-flex;
                z-index: 1;

                @each $brp in $dimg {
                    @include brp($brp) {
                        height: himg($brp) + px;
                    }
                }

                h1 {
                    @include font(szrem(38), $f1, 300);
                    @include text-shadow(2px 2px 2px $c2);
                    margin-bottom: 0.5em;
                    color: $c1;

                    @include brp($brp4) {
                        font-size: szrem(28);
                    }

                    .logo {
                        @include logo(38);
                        color: inherit;

                        @include brp($brp4) {
                            font-size: szrem(28);
                        }
                    }
                }

                a { @include button_1($c4, $c1) }
            }

            img {
                @include aa($sw1 + px, $sh1 + px);
                @include transform(scale(1.5));
                @include opacity(0.3);
                @include transition(all 350ms ease-in-out);
                zoom: 1;

                @include brp($brp2) {
                    @include aa($brp2 + px, himg($brp2) + px);
                }
            }
       }
    }
}
