.testimonials {
    @include align-items(flex-start);
    @extend %region_1;
    background-color: $c5;

    .card {
        @include center-flex;
        @include aa(37%);

        @include brp($brp3) {
            width: 75%;
            margin-bottom: 50px;

            &:last-child { margin-bottom: 0; }
        }


        .description {
            @include position;
            @include aa(100%);
            @extend %description_1;
            @extend %triangle;
            border: 1px solid lighten($c3, 40%);
            padding: 45px 5%;
            margin-bottom: 40px;
        }

        .photo {
            @include border-radius(50%);
            @include aa(100px);
            margin-bottom: 25px;
        }

        .name_author {
            @include font(szrem(18), $f1, 600);
            margin-bottom: 20px;
            color: $c6;
        }

        .job {
            @include font(szrem(16), $f1, 300);
            color: $c3;
        }
    }
}
