//-----------------------------------
//Buttons
//-----------------------------------
@mixin button_1($color1: $c4, $color2: $c1) {
    @include aa(250px, 50px);
    @include border-radius(25px);
    @include text(center);
    @include center-flex;
    @include font(szrem(18));
    @include transition(all 500ms ease);
    background-color: $color1;
    color: $color2;

    @include brp($brp4) {
        @include aa(150px, 30px);
        font-size: szrem(14);
    }

    &:hover {
        background-color: $color2;
        color: $color1;
    }
}
//-----------------------------------
//End Buttons
//-----------------------------------
