//-----------------------------------
//Mixin
//-----------------------------------
@mixin logo($size: 32) {
    @include font(szrem($size), $f2, bold);
    @include text(left) ;
    color: $c3;
}

@function himg($width) {
    @return ($width * $sh1) / $sw1;
}

@mixin logo_service($icon) {
    @include icon-svg(
        $icon,
        $c3,
        65px, 65px
    );
    margin-bottom: 52px;

    @include brp($brp3) {
        margin-bottom: 26px;
    }

    @include brp($brp4) {
        @include aae(40px);
    }
}
//-----------------------------------
//End Mixin
//-----------------------------------
