//-----------------------------------
//Silent Class
//-----------------------------------
%region_1 {
    @include aa(100%);
    padding: 100px 0;

    @include brp($brp4) {
        padding: 50px 0;
    }
}

%description_1 {
    @include font(szrem(18), $f1, 300, normal, 1.8em);
    @include text(center);
    color: $c3;

    @include brp($brp4) {
        font-size: szrem(14);
    }
}

%triangle {
    &:before {
        @include position(absolute, -8px, 50%, bottom);
        @include transform(translate(-50%, 0));
        @include aae(0);
        content: "";
        z-index: 2;
        border: {
            top: 8px solid $c1;
            left: 13px solid transparent;
            right: 13px solid transparent;
        }
    }

    &:after {
        @include position(absolute, -10px, 50%, bottom);
        @include transform(translate(-50%, 0));
        @include aae(0);
        content: "";
        z-index: 1;
        border: {
            top: 10px solid lighten($c3, 40%);
            left: 15px solid transparent;
            right: 15px solid transparent;
        }
    }
}
//-----------------------------------
//END Silent Class
//-----------------------------------
